@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
.formstyle{
    width: 45%;
    margin: 0 auto;
}
#login-container{
    width: 70%;
    margin:0 auto;
    margin-top:30vh;
}
#signup-container{
    width: 70%;
    margin:0 auto;
    margin-top:25vh;
}
#login-form{
}
#username-form{
    font-family: 'Roboto', sans-serif;
    width:40%;
    padding:10px;
}
#body-form{
    font-family: 'Roboto', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 200%;
    word-break: keep-all;
    height:100%;
    padding:15px;
    resize: none;
}
#submit-button{
    background-color: blueviolet;
    border-color: blueviolet;
    text-align:center;
    margin:0 auto;
}
#all-posts{
    word-break: keep-all;
    width:45%;
    margin: 0 auto;
    padding: 20px;
    padding-top:8vh;
}
#all-posts > div{
    padding:30px;
    border-radius: 8px;
    margin-top:2vh;
    border:1px solid #d1d1d1;
}
#all-posts > div > h3{
}
#all-posts > div > small{
    color:rgb(75, 75, 75);
    font-weight: bold;
}
#all-posts > div > p{
    font-size:140%;
}
.navbar {
    border-bottom: 2px solid #cccccc;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}
#navbaruser{
    float:right;
    display: inline-block;
}
.navbar>a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 20px 3vw;
    text-decoration: none;
}
  
.navbar>a:hover {
    color: blueviolet;
    background-color: #f5f5f569;
}
#navbarlogin{
    float:right;
}